<div class="navbar is-transparent" in:fade="{ delay: page === 'home' ? 2500 : 0 }">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item {isActivePage('home')}" on:click="hideMenu()">
        <img src="/res/better-pension.svg" alt="BetterPension" />
      </a>
      <div role="button" class="navbar-burger {isActive(isMenuShown)}" aria-label="menu" aria-expanded="false" on:click="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
    <div class="navbar-menu {isActive(isMenuShown)}" on:click="hideMenu()">
      <div class="navbar-end">
        <a rel=prefetch href="/mission" class="navbar-item">Mission</a>
      </div>
    </div>
  </div>
</div>

<style type="text/sass">
  @import '../styles/bulma.scss';

  .navbar-brand .navbar-item img {
    width: auto;
    height: 22px;
  }

  .navbar {
    background-color: transparent;
  }

  .navbar-item {
    font-weight: bold;

    &.is-active {
      background-color: transparent !important;
    }
  }
</style>

<script>
  import { fade } from 'svelte-transitions';
  import { isActive } from '../helpers/bulma';

  export default {
    helpers: {
      isActive,
    },
    data() {
      return {
        isMenuShown: false,
      };
    },
    computed: {
      isActivePage({ page }) {
        return test => isActive(page === test);
      },
    },
    methods: {
      toggleMenu() {
        this.set({ isMenuShown: !this.get().isMenuShown });
      },
      hideMenu() {
        this.set({ isMenuShown: false });
      },
    },
    /* components: {
      Background: './Background.html',
    }, */
    transitions: {
      fade,
    },
  };
</script>
