<form class="form" on:submit="sendForm({ event, mail })">
  {#if error}
  <div class="notification is-danger">
    Oops!
  </div>
  {/if}

  <div class="control is-expanded">
    <input class="input is-rounded" disabled="{isSendingForm}" type="email" placeholder="E-Mail-Adresse" bind:value="mail">
  </div>

  <div class="control is-expanded">
  <button type="submit" disabled="{!mail}" class="button is-brand is-rounded {is('loading', isSendingForm)}">Halte mich am Laufenden</button>
    <p class="help">Durch den Klick auf “Halte mich am Laufenden” erteile ich meine Einwilligung im Sinne der <a rel="prefetch" href="/newsletter/bedingungen">Newsletter Abonnementbedingungen</a>.</p>
  </div>
</form>

<style type="text/sass">
  @import '../styles/bulma';

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .control {
    margin: 0.5rem;
    width: 100%;
    max-width: 500px;

    &.is-expanded button {
      width: 100%;
    }
  }
</style>

<script>
  import { goto, prefetch } from 'sapper/runtime.js';
  import { is } from '../helpers/bulma';

  export default {
    helpers: {
      is,
    },
    data() {
      return {
        mail: '',
        error: null,
        isFinished: false,
        isSendingForm: false,
      };
    },
    methods: {
      sendForm({ event, mail }) {
        event.preventDefault();

        if (!mail) { return; }

        prefetch('/newsletter/mail-ist-unterwegs');

        this.set({ isSendingForm: true, error: false });

        // TODO: Implement API call here
        new Promise(resolve => { // eslint-disable-line compat/compat
          console.log('Registering', mail); // eslint-disable-line no-console

          // setTimeout(() => reject(new Error('didnt work')), 1000);
          setTimeout(resolve, 1000);
        })
          .then(() => this.set({ isFinished: true }))
          .then(() => goto('/newsletter/mail-ist-unterwegs'))
          .catch(error => {
            console.error(error); // eslint-disable-line no-console
            this.set({ error });
          })
          .then(() => {
            this.set({ isSendingForm: false });
          });
      },
    },
  };
</script>
